/* CUSTOM-PROPERTY */
:root{
  --primary-color: #5CA5A5;
  --font-color: #fff;
}
/* FONTS */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/spartan-v7-latin-500.woff2') format('woff2'),
       url('../fonts/spartan-v7-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/spartan-v7-latin-700.woff2') format('woff2'),
       url('../fonts/spartan-v7-latin-700.woff') format('woff');
}
/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Spartan","Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  background-color: #EFFAFA;
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* CONTAINER  */
.container{
  max-width: 1200px;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
/* SITE-HEADER */
.site-header{
  min-height: 156px;
  background-color: var(--primary-color);
  background-image: url("../imgs/header-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
/* MAIN CONTENT  */
.main-content{
  flex-grow: 1;
  padding-top: 76px;
  padding-bottom: 120px;
  }
/* JOB-LISTINGS-ITEM */
.job-listing {
  margin-bottom: 24px;
  padding: 32px 40px;
  border-radius: 5px;
  border-left: 5px solid var(--font-color);
  background-color: var(--font-color);
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}
.job-listing:nth-child(2), .job-listing:nth-child(3){
  border-left: 5px solid var(--primary-color);
}
.job-listing__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-about {
  display: flex;
}
.job-about__img {
  margin-right: 24px;
  width: 88px;
  height: 88px;
}
.job-about__company-name {
  margin-right: 16px;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
}
.job-about__information {
  margin-right: 8px;
  padding: 6px 8px 4px 8px;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.0846154px;
  border-radius: 12px;
  color: var(--font-color);
  background-color: var(--primary-color);
  text-transform: uppercase;
}
.job-about__feature {
  padding: 6px 8px 4px 8px;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.0846154px;
  border-radius: 12px;
  color: var(--font-color);
  background-color: #2B3939;
  text-transform: uppercase;
}
.job-about__heading {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.job-about__heading-link {
  font-size: 18px;
  line-height: 24px;
  color: #2B3939;
  transition: color 0.4s ease,opacity 0.4s ease;
  text-decoration: none;
}
.job-about__heading-link:hover{
  color: var(--primary-color);
}
.job-about__heading-link:active{
  opacity: 0.4;
}
.job-about__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.job-about__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.115385px;
  color: #7C8F8F;
}
.job-about__item:not(:last-child){
  margin-right: 16px;
}
.job-about__item:not(:first-child){
  display: flex;
  align-items: center;
}
.job-about__item:not(:first-child)::before{
  content: " ";
  width: 4px;
  height: 4px;
  margin-right: 16px;
  border-radius:50%;
  background-color: #B7C4C4;
}
.requirements__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.requirements__item:not(:last-child){
  margin-right: 16px;
}
.requirements__link {
  display: inline-block;
  padding: 4px 8px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.1px;
  border-radius: 4px;
  color: var(--primary-color);
  text-decoration: none;
  background-color: rgba(92, 165, 165,0.1);
  mix-blend-mode: normal;
  transition: color 0.4s ease, background-color 0.4s ease, opacity 0.4s ease;
  white-space: nowrap;
}
.requirements__link:hover{
  color: var(--font-color);
  background-color: var(--primary-color);
}
.requirements__ink:active{
  opacity: 0.4;
}
